*{margin: 0;padding: 0;-webkit-tap-highlight-color: rgba(0,0,0,0);outline: none;}
body,html{width: 100%;font-family: "Microsoft YaHei", Helvetica Neue, Helvetica, Arial, sans-serif;background-color:#fff;}
a,button,input{outline:0;-webkit-tap-highlight-color:rgba(255,0,0,0);-webkit-appearance:none;text-decoration:none}
em,i{font-style:normal}
blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{padding:0;margin:0}
li{list-style: none}
.clearfix{
    zoom: 1;
}
.clearfix:before,.clearfix:after{
    content: '';
    display: table;
}
.clearfix:after{
    clear: both;
}
#jigsawBox{
    width:600px;
    height:600px;
}
#jigsawBox li{
    float: left;
    width:200px;
    height:200px;
    font-size:40px;
    color: #f00;
}
#jigsawBox li.empty{
    background: #fff !important;
}
.img-0{
    background: url("img/0.jpg");
    background-size: 100% 100%;
}
.img-1{
    background: url("img/1.jpg");
    background-size: 100% 100%;
}
.img-2{
    background: url("img/2.jpg");
    background-size: 100% 100%;
}
.img-3{
    background: url("img/3.jpg");
    background-size: 100% 100%;
}
.img-4{
    background: url("img/4.jpg");
    background-size: 100% 100%;
}
.img-5{
    background: url("img/5.jpg");
    background-size: 100% 100%;
}
.img-6{
    background: url("img/6.jpg");
    background-size: 100% 100%;
}
.img-7{
    background: url("img/7.jpg");
    background-size: 100% 100%;
}